{{define "dashboard"}}

    {{ template "head" .}}
  <body>

    {{ template "nav" .}}
    <main role="main">

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome!</h1>
                <h4>Your Account</h4>
                <p>Plan: unlimited</p>
            </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; RateConf {{.Year}}</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/   jquery.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>

{{end}}